h1
    | Flavortown Finder

form#map-form(
    action="#" 
    onsubmit!="window.FoodMap.updateMap(); return false;"
)
    label
        | Start location

        input(
            type='text'
        )
    label
        | End location

        input(
            type='text'
        )
    input( 
        type='submit'
    )

div#map
