h1
    | Twitter Recap

div.row
    h2
        | Set a start time and relive your Twitter feed.

    form#twitter-form(
        action="#"
        onsubmit!="window.FoodMap.updateMap(); return false;"
    )
        label
            | Start Time

            // polyfill this
            input(
                type='datetime-local'
            )
        label
            | Username

            input(
                type='text'
            )
        input(
            type='submit'
        )